.ctaSection {
  padding: 2.7rem 1.2rem 2.7rem 1.2rem;
  background: #861f41;
  color: #fff;
  text-align: center;
}

.ctaText {
  font-size: 1.23rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.ctaButton {
  background: #FDB913;
  color: #231f20;
  border-radius: 0.5rem;
  font-size: 1.08rem;
  font-weight: bold;
  padding: 0.95rem 2.5rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 0.5rem;
  border: none;
  transition: background 0.15s, color 0.15s;
}

.ctaButton:hover {
  background: #fff;
  color: #861f41;
}